
h1, h2 , h3 ,h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;  /* Negrito */
    color: #FFD700;     /* Branco para contraste */
    letter-spacing: 1px
}


.paragrafoGalerias{
    color: #fff ;
    text-align: justify;
    padding: 5px;
    font-weight: 600;
    font-size: 16px;
}

.paragrafoGalerias:hover{
    background-color: #041834 ;
    border-radius: 5px;
    padding: 5px;
}

.destaque {
  background-color: #00FFFF ;
  color: #041834;
  padding: 1px 1px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
    
}