
h1, h2 , h3 ,h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;  /* Negrito */
    color: #FFD700;     /* Branco para contraste */
    letter-spacing: 1px;
    margin: 0px;

}


  
.linkCollapse{
    color: #000;
    background-color: #FFD700;
    padding: 2px;
    border-radius: 3px;
    font-weight: bolder;
}
.linkCollapse:hover {
    text-decoration: none;
    color: #FFD700;
    background-color: #000;
    
}

.containerLogoRedeSocial img{
    margin-top: -20px;
}

.paragrafoGalerias{
    color: #c0bfbf ;
    text-align: justify;
    padding: 5px;
    font-weight: 600;
    font-size: 16px;
    border-top: 1px solid #303030;
}



.destaque {
  background-color: #00FFFF ;
  color: #041834;
  padding: 1px 1px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
    
}