

body {
   background: linear-gradient(to bottom, #0e162f 30%, #050b21 50%, #060f31 80%, #02060e 100%);
    text-align: justify;
    margin-bottom: 100px;
    
}

/* CONFIGURAÇÃO DO COLLAPSE INICIO */
.btn.btn-primary{
    background-color: transparent;
    border: none;
}
.btn.btn-primary:hover{
    content: url(../images/pastas-mural/pasta-de-codigo.png);
}

.card.card-body{
    background-color: #01393e;
}

.btn.btn-info{
    width: 170px;
    height: 40px;
    margin: auto;
    
}
/* CONFIGURAÇÃO DO COLLAPSE FIM */
.container {
    margin: 0px;
    
}
.row {
    width: 90vw;
    
}

::selection {
    background-color: #ffbf00;
    color: black;
}
.absoluto{
    position: absolute;
    margin-top: 15%;
    width: 100px;
    z-index: 1;
    display: none;
    
}



.col .img  img{
    width: 100%;
    height: 100%;
    padding: 3px;
}
.col .img  img:hover{
    padding: 0;
    
    
}


.linka{
    margin-top: 50px;
    width: 42px;
    padding: 4px;
    box-shadow: #3060fb 0px 3px 8px;
    border-radius: 100%;
    margin-right: 20px;
    background-color: rgb(7, 5, 17);
}

.col.img {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: row;
    padding: 4px;
    position: fixed;
    top: 20px;
    right: 2px;
    width: 130px;
    

    
}
.tamanhoimgcarro{
    height: 450px;
    
}
.col.colDesafiosProjetos{
    margin-bottom: 20px;
   
}
.desafiosProjetos img {
    width: 400px;
    height: 200px;
    
}

.colDesafiosProjetos {
    display: flex;
    
}

.sobre {
    padding: 5px;
    
}

.sobre:hover {
    background-color: #01393e;
    border-radius: 10px;
    
}


/*CONFIGURAÇÃO DA TAGS DESTACADAS DOS DESAFIOS*/
.tags {
    font-weight: 900;
    font-size: 12px;
    color: #09ffad;
    margin-right: 5px;
    text-align: justify;
    background-color: #011a43;
    height: 20px;
    width: 40px;
    border-radius: 3px;
    font-weight: bolder;
    box-shadow: 0px 3px 4px #09ffad;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    
}

.tags:hover{
    color: #011a43;
    background-color: #09ffad;
}

