* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000000;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
}





/*CONFIGURAÇÃO COLLAPSE INICIO*/
.containerCollapse{
    display: flex;
    position: relative;
}


.conteudoCollapse{
    width: 300PX;
    height: 150PX;
    left: 100px;
    background-color: rgb(0, 33, 70);
    position: absolute;
    z-index: 1;
    border-radius: 10px;

}

.paragrafoCollapse{
    color: #fff;
}

.escondido{
    display: none;

}

.mostraCollapse{
    display: block;
    
}
/*CONFIGURAÇÃO COLLAPSE FIM*/
.redeSocial {
    display: flex;
    border-top: 1px solid #303030;
    justify-content: center;

}





.containerTecnologias{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    margin-top: 30px;
}
.redeSocial img {
    height: 40px;
    

}

/*CONFIGURAÇÃO DO MAIN INICIO*/
.principal {
    display: flex;
    justify-content: space-around;
}

.principal::selection {
    background-color: #f8ff20;
    color: #000;
}
/*CONFIGURAÇÃO DO MAIN FIM*/

/*CONFIGURAÇÃO DA SESSÃO PROJETOS INICIO*/
.sessaoProjetos, .sessaoSobre {
    width: 100%;
    margin: 5px 5px 5px 5px;
}
/*CONFIGURAÇÃO DA SESSÃO PROJETOS FIM*/

/*CONFIGURAÇÃO DA SESSÃO GALERIA PROJETOS INÍCIO*/
.galeriaProjetos {
    display: flex;
}
/*CONFIGURAÇÃO DA SESSÃO GALERIA PROJETOS FIM*/

/*CONFIGURAÇÃO DO SLIDE INÍCIO*/
.carousel-inner {
    max-width: 600px;
}

.sessaoCerficiados {
    display: flex;
    justify-content: center;
    text-align: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #041834;
    width: 30px;
    height: 50px;
}
/*CONFIGURAÇÃO DO SLIDE FIM*/

/*CONFIGURAÇÃO DO BOTÃO VISITAR PROJETO*/
.visitarProjeto {
    text-decoration: none;
    outline: none;
    color: #e0e0e0;
    margin: auto;
    font-size: 17px;
    height: 35px;
    max-width: 200px;
    background-color: #041834;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 0px 4px 3px 0px #00dbf8;
}

.visitarProjeto:hover {
    color: #FFD700;
    text-decoration: none;
}

.tecnologia  {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    margin: 2px;
    width: 90px;
    padding: 16px;
    background-color: #b0b6f9;
    color: #e8e8e8;
    height: 30px;
}
.containerTituloTecnologias{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;




}


.html {
    background-color: #fe6200;
    width: 200px;
}
.css {
    background-color: #4931df;
    width: 150px;
}
.js {
    background-color: #333330;
    width: 250px;
}
.mysql {
    background-color: #0d0363;
    width: 120px;
}
.flutter {
    background-color: #03b9d1;
    width: 230px;
}
.git {
    background-color: #d36301;
    width: 110px;
}