* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000000;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    font-size: 32px;
    background: linear-gradient(130deg, #0A66C2, #833AB4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


.imgpasta {
    cursor: pointer;
}


  
.linkCollapse{
    color: #FFF;
    background: linear-gradient(100deg, #0A66C2, #3f2452);
    padding: 2px;
    border-radius: 3px;
    font-weight: bolder;
}
.linkCollapse:hover {
    text-decoration: none;
    color: #FFD700;

    
}

.containerLogoRedeSocial img{
    margin-top: -20px;
}

.paragrafoGalerias{
    color: #f9f0ff ;
    text-align: justify;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
    border-top: 1px solid #918de3;
    padding: 4px;
}
.paragrafoGalerias:hover {
    background: linear-gradient(130deg, #0A66C2, #833AB4);
    display: inline-block;
    border-radius: 10px;
    padding: 4px;
}



.destaque {
  background-color: #00FFFF ;
  color: #041834;
  padding: 1px 1px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
    
}

/*CONFIGURAÇÃO COLLAPSE INICIO*/
.containerCollapse{
    display: flex;
    position: relative;
}


.conteudoCollapse{
    background: linear-gradient(130deg, #0A66C2, #833AB4);
    width: 300PX;
    height: 315PX;
    left: 100px;
    top: 18px;
    background-color: rgb(0, 33, 70);
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;


}

.paragrafoCollapse{
    color: #fff;
    
}


.escondido{
    display: none;

}

.mostraCollapse{
    display: block;
    
}
/*CONFIGURAÇÃO COLLAPSE FIM*/
.redeSocial {
    display: flex;
    border-top: 1px solid #833AB4;
    justify-content: center;

}





.containerTecnologias{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    margin-top: 30px;
    user-select: none;
}
.redeSocial img {
    height: 40px;
    

}

/*CONFIGURAÇÃO DO MAIN INICIO*/
.principal {
    display: flex;
    justify-content: space-around;
}

.principal::selection {
    background-color: #f8ff20;
    color: #000;
}
/*CONFIGURAÇÃO DO MAIN FIM*/

/*CONFIGURAÇÃO DA SESSÃO PROJETOS INICIO*/
.sessaoProjetos, .sessaoSobre {
    width: 100%;
    margin: 5px 5px 5px 5px;
}
/*CONFIGURAÇÃO DA SESSÃO PROJETOS FIM*/

/*CONFIGURAÇÃO DA SESSÃO GALERIA PROJETOS INÍCIO*/
.galeriaProjetos {
    display: flex;
}
/*CONFIGURAÇÃO DA SESSÃO GALERIA PROJETOS FIM*/

/*CONFIGURAÇÃO DO SLIDE INÍCIO*/
.carousel-inner {
    max-width: 600px;
}

.sessaoCerficiados {
    display: flex;
    justify-content: center;
    text-align: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #041834;
    width: 30px;
    height: 50px;
}
/*CONFIGURAÇÃO DO SLIDE FIM*/

/*CONFIGURAÇÃO DO BOTÃO VISITAR PROJETO*/
.visitarProjeto {
    text-decoration: none;
    outline: none;
    color: #e0e0e0;
    margin: auto;
    font-size: 17px;
    height: 35px;
    max-width: 200px;
    background-color: #041834;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 0px 4px 3px 0px #00dbf8;
}

.visitarProjeto:hover {
    color: #FFD700;
    text-decoration: none;
}

.tecnologia  {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    margin: 2px;
    width: 90px;
    padding: 16px;
    background-color: #b0b6f9;
    color: #e8e8e8;
    height: 30px;
}
.containerTituloTecnologias{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;




}
.html img,.css img,.js img,.mysql img,.flutter img,.git img, .php img{
    height: 40px;
    width: 40px;
}
.flutter img {
    height: 30px;
    width: 30px;
}
.mysql img {
    height: 50px;
    width: 50px;
}

.php, .html, .css, .js, .mysq, .flutte, .git{ 
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.html {
    background-color: #d55404;
    width: 160px;
}
.css {
    background-color: #4931df;
    width: 110px;
}
.js {
    background-color: #333330;
    width: 160px;
}
.mysql {
    background-color: #0d0363;
    width: 140px;
    justify-content: center;
    align-items: center;
}
.flutter {
    background-color: #029cb0;
    width: 150px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.git {
    background-color: #dd6802;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    width: 110px;
}